<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Merge Id="VCRedist" SourceFile="c:\Program Files (x86)\Common Files\Merge Modules\Microsoft_VC120_CRT_x86.msm" DiskId="1" Language="0"/>
        </DirectoryRef>
        <FeatureRef Id="ProductFeature">
            <MergeRef Id="VCRedist"/>
        </FeatureRef>
    </Fragment>
</Wix>